<div class="catego" *ngIf="categoria">
    <div class="card-columns text-center">
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('motocicleta')">
            <img class="card-img-top" src="../../../assets/imagenes/moto.png" alt="Card image cap">
            <div class="card-body">
                <p class="font-weight-bold">Motocicletas</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('bicicleta')">
            <img class="card-img-top" src="../../../assets/imagenes/bicicleta.png" alt="Card image cap">
            <div class="card-body">
                    <p class="font-weight-bold">Bicicletas</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('coche')">
            <img class="card-img-top" src="../../../assets/imagenes/coche.png" alt="Card image cap">
            <div class="card-body">
                    <p class="font-weight-bold">Coches</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('consola')">
            <img class="card-img-top" src=".../../../assets/imagenes/consola.png" alt="Card image cap">
            <div class="card-body">
                    <p class="font-weight-bold">Consolas y Videojuegos</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('informatica')">
            <img class="card-img-top" src="../../../assets/imagenes/ordenador.png" alt="Card image cap">
            <div class="card-body">
                    <p class="font-weight-bold">Informatica y Electronica</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('moda')">
            <img class="card-img-top" src="../../../assets/imagenes/ropa.png" alt="Card image cap">
            <div class="card-body">
                <p class="font-weight-bold">Moda y Accesorios</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('movil')">
            <img class="card-img-top" src="../../../assets/imagenes/telefono.png" alt="Card image cap">
            <div class="card-body">
                <p class="font-weight-bold">Moviles y telefonia</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('tv')">
            <img class="card-img-top" src="../../../assets/imagenes/tv.png" alt="Card image cap">
            <div class="card-body">
                <p class="font-weight-bold">Tv y Audio</p>
            </div>
        </div>
        <div class="card" style="width: 14rem;height: 14rem;" (click)="tipoProductos('otros')">
            <img class="card-img-top" src="../../../assets/imagenes/otros.png" alt="Card image cap">
            <div class="card-body">
                <p class="font-weight-bold">Otros</p>
            </div>
        </div>
    </div>
</div>
<div class="categ" *ngIf="!categoria && !verFichaProducto">
    <div class="producto">
        <div class="card tipo" style="width: 14rem;" *ngFor="let producto of categoriaProductos" (click)='guardartemporalproducto(producto)'>
            <img class="card-img-top img" src="../../../assets/productos/{{producto.imagen}}" alt="Card image cap">
            <div class="card-body centro">
                <p class="font-weight-bold texto">{{producto.nombre}}</p>
                <p class="font-weight-bold texto">{{producto.precio}} Euros</p>
            </div>
            <div class="card-footer" ><textarea type="textarea"rows="2" cols="15">{{producto.descripcion}}</textarea></div>
        </div>
    </div>
</div>
<div class="col-12 containerFicha" *ngIf="verFichaProducto">
    <app-ficha-producto></app-ficha-producto>
</div>